{% extends "main/layout.html" %}

{% load static %}


{% block title %} my Hero {% endblock %}

{% block body %}
    <div class="grid-index-wrapper">
        <div class="grid-index avatar">
            <h3>
                Welcome, {{ request.user.first_name }}
                <button class="quest-button">Take on a Quest!(*)</button>
                <button class="focus-selector">Currently pursuing:(*)</button>
            </h3>

            <table>
                <tr>
                    <td rowspan="13">
                        <img class="avatar" src="{% static 'main/tempavatar2.png'%}" height="500px">
                    </td>
                </tr>
                <tr class="table-spacer">
                </tr>
                <tr>
                    <td class="table-captions">Chest</td>
                    <td class="table-values"> {{request.user.chest}} </td>
                    <div class="stats-tooltip">example</div>
                </tr>
                <tr>
                    <td class="table-captions">Back</td>
                    <td class="table-values"> {{request.user.back}} </td>
                </tr>
                <tr>
                    <td class="table-captions">Arms</td>
                    <td class="table-values" id="testid"> {{request.user.arms}} </td>
                </tr>
                <tr>
                    <td class="table-captions">Core</td>
                    <td class="table-values"> {{request.user.core}} </td>
                </tr>
                <tr>
                    <td class="table-captions">Legs</td>
                    <td class="table-values"> {{request.user.legs}} </td>
                </tr>
                    <tr class="table-spacer">
                </tr>
                <tr>
                    <td class="table-captions">Stamina</td>
                    <td class="table-values"> {{request.user.stamina}} </td>
                </tr>
                    <tr class="table-spacer">
                </tr>
                <tr>
                    <td class="table-captions">Agility</td>
                    <td class="table-values"> {{request.user.agility}} </td>
                </tr>
                    <tr class="table-spacer">
                </tr>
                <tr>
                    <td class="table-captions">Speed</td>
                    <td class="table-values"> {{request.user.speed}} </td>
                </tr>
            </table>

        </div>


        <div class="grid-index exercises">
            <div class="exercise-items-topbar">
                
                <form name="sortForm" class="sort-form">
                    sort by:
                    <select name="sortList" onChange="sortBy()">
                        <option value="http://www.wikipedia.org">Wikipedia</option>
                        <option value="http://www.deviantart.com">DeviantArt</option>
                        <option value="http://www.flickr.com">Flickr</option>
                        <option value="http://www.twitter.com">Twitter</option>
                        <option value="Equipment">Equipment required(*)</option>
                        <option value="Focus">Exercise focus(*)</option>
                    </select>
                </form>

                <div class="exercise-items-topbar-legend">
                    <p><img src="{% static 'main/images/green.png'%}"> = completed</p>
                    <p><img src="{% static 'main/images/orange.png'%}"> = recommended</p>
                    <p><img src="{% static 'main/images/grey.png'%}"> = not started</p>
                </div>

            </div>
            <div class="exercise-items-leftbar">
                <div id="explainers" class="explainers">                
                    legend:
                    <img class="legend chest" src="{% static 'main/images/chest.png'%}" height="32px">
                    <img class="legend back" src="{% static 'main/images/back.png'%}" height="32px">
                    <img class="legend arms" src="{% static 'main/images/arms.png'%}" height="32px">
                    <img class="legend core" src="{% static 'main/images/core.png'%}" height="32px">
                    <img class="legend legs" src="{% static 'main/images/legs.png'%}" height="32px">
                    <br><br>
                    <img class="legend stamina" src="{% static 'main/images/stamina.png'%}" height="32px">
                    <img class="legend agility" src="{% static 'main/images/agility.png'%}" height="32px">
                    <img class="legend speed" src="{% static 'main/images/speed.png'%}" height="32px">
                    <br><br>
                    <img class="legend dumbbell" src="{% static 'main/images/dumbbell.png'%}" height="32px">
                    <img class="legend bodyweight" src="{% static 'main/images/bodyweight.png'%}" height="32px">
                    <img class="legend household" src="{% static 'main/images/household.png'%}" height="32px">
                    <img class="legend equipmisc" src="{% static 'main/images/equipmisc.png'%}" height="32px">
                </div>
            </div>
            <div class="exercise-items-wrapper">

                {% if error %}
                    {{ error }}
                {% else %}
                    {% for x in exercise %}

                        <div class="exercise-item
                            {% if x.primary_focus == 'CH' %} chest-background
                            {% elif x.primary_focus == 'B'%} back-background
                            {% elif x.primary_focus == 'AR'%} arms-background
                            {% elif x.primary_focus == 'CO'%} core-background
                            {% elif x.primary_focus == 'L'%} legs-background
                            {% elif x.primary_focus == 'ST'%} stamina-background
                            {% elif x.primary_focus == 'AG'%} agility-background
                            {% elif x.primary_focus == 'SP'%} speed-background {% endif %}"
                            onmouseover="eIHover()">

                            <table class="exercise-item-table">
                                <tr>
                                    <td  class="exercise-item-table"colspan="2">{{x.name}}</td>
                                </tr>
                                <tr class="exercise-item-table" height="20px";>
                                    <td class="exercise-item-table"></td>
                                    <td class="exercise-item-table">
                                        {% if x.video_verified %}
                                        <img class="vvfv" src="{% static 'main/images/vv.svg' %}" height="14px">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="exercise-item-table">
                                    <td class="exercise-level">
                                        lv. VII
                                    </td>
                                    <td class="exercise-item-table">
                                            {% if x.friend_verified %}
                                            <img class="vvfv" src="{% static 'main/images/fv.svg' %}" height="14px">
                                            {% endif %}
                                    </td>
                                </tr>
                            </table>   

                            <div class="tooltip">
                                <table id="tooltip-table">
                                    <tr>
                                        <td style="font-weight:bold; text-align: center;" colspan="2">{{x.name}}</td>
                                    </tr>
                                    <tr height="auto">
                                        <td width="160px" height="120px" style="vertical-align:text-top">
                                            <p style="font-weight:bold"> Description:</p>
                                            <p>{{x.description}}</p>
                                        </td>
                                        <td class="tooltip-buttons" rowspan="2">
                                            <p> {{x.level_1}} <button style="padding:0.2em;"> Lvl. I    </button></p>
                                            <p> {{x.level_2}} <button style="padding:0.2em;"> Lvl. II   </button></p>
                                            <p> {{x.level_3}} <button style="padding:0.2em;"> Lvl. III  </button></p>
                                            <p> {{x.level_4}} <button style="padding:0.2em;"> Lvl. IV   </button></p>
                                            <p> {{x.level_5}} <button style="padding:0.2em;"> Lvl. V    </button></p>
                                            <p> {{x.level_6}} <button style="padding:0.2em;"> Lvl. IV   </button></p>
                                            <p> {{x.level_7}} <button style="padding:0.2em;"> Lvl. IIV  </button></p>
                                            <p> {{x.level_8}} <button style="padding:0.2em;"> Lvl. XII  </button></p>
                                            <p> {{x.level_9}} <button style="padding:0.2em;"> Lvl. XI   </button></p>
                                            <p> {{x.level_10}} <button style="padding:0.2em;"> Lvl. X    </button></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:text-top; text-align: center;">
                                            <img src="{{x.tooltip_illustration}}" height="80px">
                                            <img src="{% static 'main/images/homer.gif' %}" height="80px">
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td><a href="#">more...</a></td>
                                        <td>
                                            {% if x.friend_verified %}
                                            <img class="vvfv" src="{% static 'main/images/fv.svg' %}" height="20px">
                                            <p>verified by <a href="#">{friend.name}</p></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            {% if x.video_verified %}
                                            <img class="vvfv" src="{% static 'main/images/vv.svg' %}" height="20px">
                                            <p><a href="#">video verified</a></p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                               
                            </div>

                        </div>
                        


                    {% endfor %}

                {% endif %}
            </div>
        </div>

        <div class="grid-index feed">
            <p>Insert feed(*) (when active, collapse avatar + exercise list)</p>
        </div>

        <div class="grid-index friends">
            <p>Insert Friends section(*) (when active, collapse avatar + exercise list)</p>
        </div>
    
    </div>

    
    
{% endblock %}
