{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Insert placeholder</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
        <script src="{% static '/main/js/script.js' %}" type="text/javascript"></script>

    </head>
    <body id="layout-grid-body">
        <header class="grid-header"> 
            <img src="{% static 'main/myHero4.png' %}" alt="byoh image">
            {% if user %}
                <span id="header-user" >
                    {{ user.username }} 
                        <br>
                    <a href="{% url 'logout' %}">logout</a>
                        <br>
                    <a href="{% url 'login' %}">login</a>
                </span>
            {% endif %}
        </header>
        <nav id="grid-nav-wrapper">
            <a href="{% url 'main:index' %}" class="nav-links"><div class="grid-nav">my Hero</div></a>
            <a href="{% url 'main:quests' %}" class="nav-links"><div class="grid-nav">Quests +(*)</div></a>
            <a href="{% url 'main:library' %}" class="nav-links"><div class="grid-nav">Library(*)</div></a>
            <a href="{% url 'main:connect' %}" class="nav-links"><div class="grid-nav"><img
                        src="{% static 'main/connect-icon.svg' %}" 
                        alt="triangle with all three sides equal"
                        height="30px"
                    />  Connect(*)</div></a>
            <a href="{% url 'userconfig' %}" class="nav-links"><div class="grid-nav">Configuration(*)</div></a>
        </nav>
        <div id="grid-body">
            {% block body %} {% endblock %}
        </div>

        <div class="grid-layout-element footer">
            <p>footer content</p>
        </div>

    </body>
</html>
