{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Insert placeholder</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
        <!-- Uncomment to add Bootstrap css src <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'main/styles.css' %}" >
    </head>
    <body id="grid">
        <header id="grid-header"> 
            <img src="{% static 'main/myHero4.png' %}" alt="byoh image">
            <p id="header-user">My profile/Settings</p>
        </header>
        <nav id="grid-nav">
            <a href="" class="nav-links">my Hero</a>
            <a href="" class="nav-links">Excercise library</a>
            <a href="" class="nav-links">Connect</a>
        </nav>
        <div id="grid-body"> {% block body %} {% endblock %} </div>
            <!-- Uncomment to add Bootstrap javascript src
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            -->
    </body>
</html>
