{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Insert placeholder</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'main/styles.css' %}">
        <link rel="script" href="{% static 'main/script.js' %}">
    </head>
    <body id="layout-grid-body">
        <header class="grid-header"> 
            <img src="{% static 'main/myHero4.png' %}" alt="byoh image">
            {% if user %}
                <span style="float:right;" id="header-user" >
                    {{ user.username }} 
                        <br>
                    <a href="{% url 'logout' %}">logout</a>
                        <br>
                    <a href="{% url 'login' %}">login</a>
                </span>
            {% endif %}
        </header>
        <nav id="grid-nav-wrapper">
            <div class="grid-nav"><a href="{% url 'main:index' %}" class="nav-links">my Hero</a></div>
            <div class="grid-nav"><a href="{% url 'main:library' %}" class="nav-links">Library</a></div>
            <div class="grid-nav"><a href="{% url 'main:connect' %}" class="nav-links"><img
                        src="{% static 'main/connect-icon.svg' %}" 
                        alt="triangle with all three sides equal"
                        height="30px"
                    />  Connect</a></div>
        </nav>
        <div id="grid-body">
            {% block body %} {% endblock %}
        </div>

        <div class="grid-layout-element footer">
            <p>Footer content</p>
        </div>

        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>
