{% extends "users/frontpage.html" %}

{% block body %}
    <div class="registerdiv">
        <h2> Create new user </h2>
        <br>
        <form method="POST">
            {% csrf_token %}

            {% for field in registration_form %}
                <p>
                    {{field.label_tag}}
                    {{field}}

                    {% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <small style="color: red;">{{error}}</small>
                    {% endfor %}
                </p>


            {% endfor %}

            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}