/* Header including it's grid */

header {
    background-color: lavenderblush;
    height: 70px;
}

#grid-header {
    grid-column: 1 / span 2;
    box-shadow: 3px 3px 6px;
    border-radius: 8px;
    padding: 4px;
}

#header-user {
    text-align: right;
    font-style: italic;
}

/* Navigation bar including it's grid */

nav {
    background-color: lavenderblush;
    height: 500px;
    /*padding-top: 40px;*/
}

#grid-nav-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 6fr;
    box-shadow: 3px 3px 6px;
    border-radius: 8px;
}

.grid-nav {
    background-color: #4CAF50;
    border: none;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    /* padding-top: 1em; play around later */
    /* padding: 3px; play around later */
}

.grid-nav a {
    text-decoration: none;
}

/* Layout.html including it's grid */

#layout-grid-body {
    background-color: #aeffaf;
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-columns: 140px auto;
}

/* Index.html including it's grid */

.grid-index-wrapper {
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 800px auto;
    height: 80%;
    grid-gap: 8px;
}

.grid-index {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    font-size: 150%;
    box-shadow: 3px 3px 6px;
  }

        /* Stats table */

table {
    /*border-collapse: collapse;*/
    border-radius: 8px;
}

.table-captions {
    text-align: right;
    padding: 10px;
    width: 100px;
}

.table-values {
    border: 2px solid;
    border-radius: 8px;
    border-style: inset;
    width: 46px;
    text-align: center;
    font-size: larger;
}

.table-spacer {
    height: 24px;
}

.avatar {
    padding-left: 30px;
}

        /* exercise items */

.exercise-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 16px;
}

.exercise-item {
    background-color: rgb(68, 120, 233);
    height: 30px;
    width: 30px;
    color: black;
    border-radius: 8px;
    padding: 20px;
    font-size: 150%;
    box-shadow: 3px 3px 6px;
}

.exercise-items-explainer-wrapper {
    display: grid;
    width:10%;
}

.exercise-item-explainer {
    column-span: all;
}
  /* 'App:Users' themes */

  /* Frontpage Login */

  .frontpage-body {
      background-color: lightseagreen;
  }
