/* these are the CSS comment tags */

#layout-grid-body {
    background-color: burlywood;
    margin: 0;
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: 160px auto;
}

header {
    background-color: beige;
    height: 70px;
}

nav {
    background-color: rgb(79, 241, 214);
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS'; /*, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

#grid-header {
    grid-column: 1 / span 2;
}

#header-user {
    text-align: right;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0px;
}
nav ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    display: block;
    

}

nav ul li:hover {
    background: #FFFFFF;
}

nav ul li a:hover {
    color: #cf0101;
}

.frontpage-body {
    background-color: cornflowerblue;
}